@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');
@import "tailwindcss";

/* tailwind custom variables */
@theme {
  --font-primary: "Major Mono Display", serif;
  --font-secondary: "DM Sans", sans-serif;
  --color-primary: #0A0B13;
  --color-primary-80: #0A0B13f4;
  --color-secondary: #989fffde;
  --color-white: white;
  --default-transition-duration: 300ms;
}

:root {
  font-family: theme(--font-primary), system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* force max width to be within the 1920 px range */
#app {
  max-width: 1920px;
}

/* icon size recommendations */
.icon {
  height: 12px;
  width: 12px;
}